body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#0f9b8e,#1e90ff);
min-height:100vh;
}

.page-container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
min-height:100vh;
}

.header{
position:absolute;
top:20px;
left:30px;
font-size:22px;
font-weight:bold;
color:white;
}

.form-card{
background:white;
padding:40px;
border-radius:10px;
width:320px;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

input{
width:100%;
padding:10px;
margin-top:8px;
margin-bottom:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
background:#1e90ff;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#0f9b8e;
}

.error{
color:red;
font-size:13px;
margin-bottom:10px;
}

.dashboard-container{
padding-top:100px;
text-align:center;
}

.station-row{
display:flex;
justify-content:center;
align-items:stretch;
gap:30px;
margin-top:40px;
flex-wrap:nowrap;   /* keeps all boxes in one row */
}

.station-card{
width:220px;
min-height:170px;
padding:20px;
border-radius:10px;
color:white;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
text-align:center;
}

.alerts-page{
padding:20px;
}

.alerts-table{
width:100%;
border-collapse:collapse;
background:white;
}

.alerts-table th,
.alerts-table td{
padding:12px;
border-bottom:1px solid #eee;
}

.severity{
padding:4px 10px;
border-radius:6px;
color:white;
font-size:12px;
}

.severity.high{
background:#e74c3c;
}

.severity.medium{
background:#f39c12;
}

.severity.critical{
background:#8e0000;
}

.alert-card{
padding:12px;
border-radius:8px;
background:#fff;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.alert-card.high{
border-left:5px solid red;
}

.alert-card.medium{
border-left:5px solid orange;
}

.alert-card.critical{
border-left:5px solid darkred;
}

.leaflet-container {
  z-index: 1;
}